.form-card {
  border-radius: $radius-default;
  border: 1px solid $border_color-default;
  padding: 32px 40px;

  h4 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 16px;
  }

  button {
    margin-top: 24px;
  }
}
