$grid-cell-gutter: 8px;
@media (min-width: $grid-desktop-breakpoint) {
  .mdl-grid {
    padding: 16px;
  }
}

.mdl-grid {
  max-width: $site-max-width;

  &--aligned {
    align-items: center;
  }

  &--no-v-spacing {
    padding-top: 0;
    padding-bottom: 0;
  }

  &--no-bottom-spacing {
    padding-bottom: 0;
  }

  &--no-h-spacing {
    padding-left: 0;
    padding-right: 0;
  }

  &--contained {
    padding: 0;
    margin-left: -8px;
    margin-right: -8px;
  }

  &--fluid {
    max-width: 100%;
  }
}

.mdl-cell {
  &--r-padding {
    padding-right: 16px;
  }

  &--no-v-spacing {
    padding-top: 0;
    padding-bottom: 0;
  }
}
