.mdl-button {
  box-shadow: none;
  font-weight: $font_weight-bold;
  letter-spacing: 0.2px;
  transition: none;
  font-size: 1.4rem;

  &--full-width {
    width: 100%;
  }

  &--icon-spaced {
    i, .icon, mdl-icon, .material-icons {
      margin-right: 40px;
    }
  }

  .material-icons {
    font-size: 20px;
  }

  &--raised, &--fab {
    background: #F0EDED;

    &:hover {
      background: darken(#F0EDED, 5%) !important;
    }
  }

  &--primary {
    &:hover {
      background: lighten($primary-color, 5%) !important;
    }
  }

  &--raised, &--accent {
    .icon {
      &:before {
        color: #ffffff !important;
      }
    }
  }

  &--accent {
    &:hover {
      background-color: lighten($secondary-color, 10%) !important;
    }

    &[disabled] {
      color: #fff !important;
      background-color: lighten($secondary-color, 20%) !important;
    }
  }

  &--white {
    background: #ffffff !important;
    color: $primary-color;
  }

  &--l {
    font-size: 17px;
    font-weight: $font_weight-bold;
    line-height: 1.5;
    height: 56px;
    padding: 0 32px;
  }

  &--xl {
    font-size: 18px;
    font-weight: $font_weight-bold;
    height: 66px;
    padding: 0 46px;
  }

  &.formIsUnchanged,
  &.formIsInvalid {
    opacity: 0.4;
    cursor: default;
  }
}

a.mdl-button--xl {
  line-height: 3.7;
}
