<div class="app-alert" role="alert"
     [class.app-alert_type-info]="type === 'info'"
     [class.app-alert_type-error]="type === 'error'"
     [class.app-alert_type-success]="type === 'success'"
     [class.app-alert_type-warning]="type === 'warning'"
     [class.app-alert_type-neutral]="type === 'neutral'"
     [class.app-alert_type-critical]="type === 'critical'">
  <i class="app-alert_icon icon icon-info-circle" *ngIf="type === 'info'"></i>
  <i class="app-alert_icon icon icon-close-circle" *ngIf="type === 'error'"></i>
  <i class="app-alert_icon icon icon-check-circle" *ngIf="type === 'success'"></i>
  <i class="app-alert_icon icon icon-info-circle" *ngIf="type === 'warning'"></i>
  <p *ngIf="text">{{ text }}</p>
  <p *ngIf="htmlText" [innerHTML]="htmlText"></p>
  <ng-content></ng-content>

</div>
