@import 'import-for-components';

.app-alert {
  padding: 1.6rem 2.4rem;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
  border: 1px solid transparent;

  i {
    font-size: 2.2rem;
    margin-right: 1.8rem;
  }
  p {
    margin: 0;
    font-size: 1.5rem;
    a {
      text-decoration: underline;
      color: #f2fbff;
      font-weight: bold;
    }
  }

  &_type-info {
    background-color: $alert-info_background-color;
    border-color: $alert-info_color;
    i:before {
      color: $alert-info_color;
    }
    p {
      a {
        text-decoration: underline;
        color: #f2fbff !important;
        font-weight: bold;
      }
    }
  }
  &_type-warning {
    background-color: $alert-warning_background-color;
    border-color: $alert-warning_color;
    i {
      transform: rotate(180deg); // Use the info icon as exclamation mark
    }
    i:before {
      color: $alert-warning_color;
    }
  }
  &_type-error {
    background-color: $alert-error_background-color;
    border-color: $alert-error_color;
    i:before {
      color: $alert-error_color;
    }
  }
  &_type-success {
    background-color: $alert-success_background-color;
    border-color: $alert-success_color;
    i:before {
      color: $alert-success_color;
    }
  }
  &_type-neutral {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  &_type-critical {
    justify-content: center;
    background-color: #1b6184;
    color: #f2fbff;
    border: none;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    a {
      text-decoration: underline;
      color: #f2fbff;
      font-weight: bold;
    }
  }
}


