
@import 'base/_variables';

.formfield {
  width: 100%;

  &.is-invalid {
    .input-container {
      animation: cssInvalidAnima 0s 1s forwards;
      border: none;

      .form-field-infix { 
        input {
          border: 1px solid #DC3545;
        }
      }
    }

    @keyframes cssInvalidAnima {
      to { 
        border-radius: 5px;
      }
    }

    .formfield-error-msg {
      display: block;
    }

  }

  &.filled-prefix {
    .form-field-prefix {
      background-color: darken($input-background-color, 5) !important;
      border-top-left-radius: $input-border-radius;
      border-bottom-left-radius: $input-border-radius;
    }
  }

  &.filled-postfix {
    .form-field-postfix {
      background-color: darken($input-background-color, 5) !important;
      border-top-right-radius: $input-border-radius;
      border-bottom-right-radius: $input-border-radius;

      span {
        color: $darkGreen;
        font-size: $input-font-size;
      }
    }
  }

  &.filled-prefix, &.filler-postfix {
    .formfield-icon, .material-icons, .app-icon {
      color: $darkGreen !important;
    }
  }
}

.form-field-wrapper {
  &--lg {
    input {
      padding: 19px 12px !important;
    }

    .mdl-select__toggle {
      margin-top: -40px !important;
    }

    .ng-value-container {
      min-height: 60px !important;
      padding: 8px 16px !important;
    }
  }

  &--sm {
    .mdl-select__toggle {
      margin-top: -26px !important;
      margin-right: 4px !important;
    }
  }

  &--horizontal {
    display: flex;
    align-items: center;

    label {
      flex-basis: 20%;
      padding-right: 0.8rem;
      white-space: nowrap;
    }
  }

  label {
    display: inline-block;
    font-size: $input-label-size;
    font-weight: $input-label-weight;
    color: $input-label-color;
    margin-bottom: 1.2rem;
  }

  .input-container {
    display: flex;
    width: 100%;

    border-radius: $input-border-radius;
    background-color: $input-background-color;

    &:hover {
      background-color: darken($input-background-color, 1);
    }

    .form-field-prefix {
      display: flex;
      align-items: center;
      padding: 0 12px;
      white-space: nowrap;
      font-size: 15px;
      background-color: transparent;
    }

    .form-field-postfix {
      display: flex;
      align-items: center;
      padding: 0 12px;
      white-space: nowrap;
      font-size: 15px;
      background-color: transparent;
      color: $input-prefix-color;
    }

    .form-field-postfix, .form-field-prefix {
      .formfield-icon, .material-icons, .app-icon {
        font-size: 17px;
        line-height: $input-line-height;
        color: $input-prefix-color;
      }
    }

    .form-field-infix {
      width: 100%;

      input, textarea {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 15px;
        line-height: 1.5;
        color: $darkGreen;

        border: 1px solid #D7D7D7;
        border-radius: 5px;
        &:disabled {
          cursor: not-allowed;
          color: #929BA0;
        }

        &:focus {
          outline: none;
        }

        &.input-sm {
          padding: 4px 4px;
          font-size: 14px;
          line-height: 1.4;
        }
      }
    }
  }

  .formfield-error-msg {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    animation: showFieldError 0s 1s forwards;
    visibility: hidden;
  }

  @keyframes showFieldError {
    to { visibility: visible; }
  }
}
