<div class="signup">
    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell--no-v-spacing mdl-cell--12-col">
        <div class="signup-container">
          <div class="signup-container-title">
            <h1 class="display-2">Signup</h1>
            <p class="subtitle">Let's get you all set up so you can verify your personal account and being setting up your profile.</p>    
          </div>
          <div class="signup-container-form">
            <app-alert
            *ngIf="signUpComplete"
            type="success"
            [text]="success"></app-alert>
          <app-alert
            *ngIf="signUpFailed"
            type="error"
            [text]="signUpError"></app-alert>
          <form [formGroup]="signUpForm" class="form-signup-venue">
            <formfield [class.is-invalid]="formControlIsInvalid('firstname')">
              <label>First Name *</label>
              <input formControlName="firstname" type="text" placeholder="first name"/>
              <span dirErrorMsg>Please enter first your name</span>
            </formfield>
            <formfield [class.is-invalid]="formControlIsInvalid('lastname')">
              <label>Last Name *</label>
              <input formControlName="lastname" type="text" placeholder="last name" />
              <span dirErrorMsg>Please enter last your name</span>
            </formfield>
            <formfield [class.is-invalid]="formControlIsInvalid('username') || (this.signUpForm.get('username').value || '').length >= 1 && this.signUpForm.get('username').invalid">
                <label>Email *</label>
              <input formControlName="username" type="text" placeholder="abc@mail.com"/>
              
              <span *ngIf="signUpForm.get('username').hasError('validateEmail')" dirErrorMsg>
                Enter a valid e-mail
              </span>  
            </formfield>
            <formfield [class.is-invalid]="formControlIsInvalid('password') || (this.signUpForm.get('password').value || '').length >= 1 && signUpForm.hasError('personalPasswordError')">
              <label>Password *</label>
              <input formControlName="password" type="password" placeholder="8+ charactors, no first / last name"/>
              <span *ngIf="(this.signUpForm.get('password').value || '').length >= 1 && signUpForm.hasError('personalPasswordError')" dirErrorMsg>Password should be of 8+ characters and not contain firstname and lastname</span>
              <span *ngIf="formControlIsInvalid('password')" dirErrorMsg>Please enter valid password</span>
            </formfield>
    
            <div class="jumbo-actions">
              <button
              (click)="signUp($event)"
              [disabled]="isSubmitting"
              type="button"
              class="mdl-button--xl" 
              mdl-button 
              mdl-button-type="raised" 
              mdl-colored="accent">Signup</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  