@import 'base/_variables';

.mdl-grid {
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 10rem;
}

.signup {
  width: 100%;
  max-width: 960px;
  padding: 0 5.1rem;
  margin: 0 auto;
  @media screen and (max-width: $breakpoint-mobile) {
    .mdl-grid {
      margin-top: 50px;
    }
    padding: 0 2.4rem;
  }
  .signup-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 1rem;

    @media screen and (max-width: $breakpoint-tab) {
      flex-direction: column;
      margin-bottom: 26px;
    }
  
    &-title {
      flex-basis: 50%;
      padding-right: 6rem;
      text-align: center;
      @media screen and (max-width: $breakpoint-tab) {
        padding: 0rem;
      }
      .display-2 {
        line-height: 130%;
        text-align: left;
      }
    
      p {
        margin-bottom: 64px;
        @media screen and (max-width: $breakpoint-mobile) {
          margin-bottom: 32px;
        }
      }
    
      .quote {
        span {
          display: inline-block;
          font-size: 17px;
          font-style: italic;
          line-height: 1.3;
          margin-bottom: 24px;
        }
    
        .quote-person {
          display: flex;
          flex-direction: column;
    
          img {
            width: 45px;
            height: 45px;
            border-radius: 50px;
            margin-bottom: 8px;
          }
        }
      }
    }
    
    &-form {
      flex-basis: 50%;
      text-align: left;
      .form-card {
        border: none;
      }

      @media screen and (max-width: $breakpoint-mobile) and (min-width: 0px) {
        flex-basis: 100%;
      }
      
      .form-signup-venue {
        formfield {
          display: block;
          margin-bottom: 2.4rem;
        }
      }
      
      .jumbo-actions {
        display: flex;
        // justify-content: space-between;
      
        @media screen and (max-width: $breakpoint-mobile) and (min-width: 0px) {
          flex-direction: column;
        }
        button {
          background: #4d148c;
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
          border-radius: 5px;
          font-size: 15px;
          height: 4.8rem;
          text-align: center;
          vertical-align: middle;
          margin-top: 0;
          width: 100%;
          color: #fff;
          @media screen and (max-width: $breakpoint-mobile) and (min-width: 0px) {
            margin-right: 0px;
            width: 100%;
          }
        }
      
        button.mdl-button--xl {
          line-height: 3;
        }
        
        .mdl-button--xl {
          padding: 0;
          border: none;
          @media screen and (max-width: $breakpoint-tab) and (min-width: 0px) {
            margin-bottom: 16px;
            width: 100%;
          }
        }
      }
    }
  }
}

