html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: $page_background-color;
}
