// New Buttons
$buttonGrayLight: #eee;
%button-gray {
  display: inline-block;
  background-color: $buttonGrayLight;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $buttonGrayLight;
  }
}

// Make an mdl button minimalistic small
%button-small {
  padding: 3px;
  line-height: 1.7rem;
  height: auto;
  min-width: auto;
}

%regular-text {
  font: $font_weight-regular 1.5rem/1.5 $font_family;
}

// Form styling
%form_label {
  color: $input-label-color;
  font-size: $input-label-size !important;
  font-weight: $input-label-weight !important;
}