
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #A0A0A0;
}

input:-moz-placeholder, textarea:-moz-placeholder {
  color: #A0A0A0;
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(17, 17, 17, 0.06), 0 3px 1px -2px rgba(17, 17, 17, 0.01), 0 1px 5px 0 rgba(17, 17, 17, 0.06) !important;
}

.mdl-shadow--8dp {
  box-shadow: 0 8px 10px 1px rgba(17, 17, 17, 0.06), 0 3px 14px 2px rgba(17, 17, 17, 0.12), 0 5px 5px -3px rgba(17, 17, 17, 0.06) !important;
}