
.no-v-spacing {
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.no-bottom-spacing {
  padding-bottom: 0;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.align-items {
  align-items: center;
}
