html {
  font-family: $font_family;
  font-weight: $font_weight-regular;
  line-height: 1.3;
  font-size: 62.5%;
  color: $font_color-default;
}

body {
  font-size: $font_size-default;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}

// Headers
h1, h2, h3, h4, h5 {
  color: $header_color;
  line-height: 1.3;
}

h1 {
  font-size: 4.8rem;
  font-weight: $font-weight-light;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

h2, h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

p {
  @extend %regular-text;

  &.lead {
    color: #9FA0A0;
    font-size: 1.8rem;
    font-weight: $font_weight-light;
  }

  &.subtitle {
    color: #64737A;
  }
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
}