@import '../node_modules/@angular-mdl/core/scss/color-definitions';

$blue: #4d148c;
$blockGreen: #82D247;
$green: #A5DD78;
$blockGray: #D8D8D8;
$yellow: #F7F3B0;
$darkGreen: #3D5059;
$aqua: #00BCD3;
$page_background-color: #fff;
$grayLight: #FCFCFC;
$gray-1: #abacae;
$grayLine: #EEEAEA;
$primary-color: $darkGreen;
$secondary-color: $blue;
$grayBorder: #E3E1E1;
$header_color: $darkGreen;
$border_color-default: $grayLine;

// New Input form controls color
$input-background-color: #f2f2f2;
$input-border-color: #f2f2f2;
$input-border-radius: 3px;
$input-prefix-color: #CECECE;
$input-font-size: 15px;
$input-line-height: 1.5;
$input-label-size: 1.3rem;
$input-label-weight: 600;
$input-label-color: $darkGreen;

$radius-default: 4px;
$site-max-width: 1208px;

//Typography
$font_family: "Lato", Arial, sans-serif;
$font_size-default: 1.5rem;
$font_weight-light: 300;
$font_weight-regular: 400;
$font_weight-semibold: 600;
$font_weight-bold: 700;
$font_color-default: $darkGreen;
$font_color-secondary: rgba($font_color-default, 0.7);
$font_color-passive: $gray-1;


// Buttons
$button-min-width: 6.4rem;
$button-height: 3.6rem;
$button-padding: 1.6rem;
$button-margin: 0.4rem;
$button-border-radius: 2px;

// Set preferred font
$preferred_font: $font_family;
$performance_font: $preferred_font;

$breakpoint-small: 0px;
$breakpoint-medium: 640px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1440px;
$breakpoint-tab: 839px;
$breakpoint-mobile: 480px;

$body-text-color: rgba(251, 250, 250, 1);

$alert-error_background-color: #faf0f1;
$alert-error_color: $blue;
$alert-warning_background-color: #faf8ed;
$alert-warning_color: $yellow;
$alert-info_background-color: #f0f9fa;
$alert-info_color: $aqua;
$alert-success_background-color: #f3faed;
$alert-success_color: $blockGreen;
